.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputs {
  text-align: start;
  padding: 0px 20vh;
}
h4 {
  margin: 20px;
}

.specialOffer{
  background-color: lightgoldenrodyellow;
  border-radius: 25px;
  color: black;
  font-size: small;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.App-logo {
  height: 10vmin;
  border-radius: 18px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label {
  display: block;
  font-size: medium;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
